{% extends 'baseBlog.html.twig' %}

{#{% block lateral %}#}
    {#{{ include('backLateral.html.twig') }}#}
{#{% endblock %}#}

{% block body %}
<h4>Modification de l'article: {{ article.title }}</h4>

    {{ include(':Article_management:formTinyMCEPreRempli.html.twig') }}
        
        <div class="col-sm-12">
            <input type="button" data-toggle="modal" data-target="#myModal" value="Mettre à jour"
                class="btn btn-default pull-right"/>
        </div>

        {{ include(':Article_management:modalUpdate.html.twig') }}

    {{ form_end(formView) }}

    <div class="col-sm-12">
        <a href="{{ path('author_home_page') }}" class="btn btn-info pull-right">
            <i class="glyphicon glyphicon-eye-open"></i>
            Retour à la liste des articles
        </a>
    </div>


{% endblock %}
