{% extends 'baseBlog.html.twig' %}

{% block body %}
    <div class="col-sm-12">
        <h1 class="col-sm-12 text-center pages_titles">Contacter l'Auteur</h1>
        <div class="col-sm-12">
            {{ form_start(contactForm) }}
            {{ form_errors(contactForm) }}
            <div class="col-sm-offset-2 col-sm-8">
                <div class="form-group">
                    {{ form_label(contactForm.name, 'Votre nom :') }}
                    {{ form_widget(contactForm.name, {'attr': {'class': 'form-control', 'placeholder': 'Votre nom'}})}}
                    {{ form_errors(contactForm.name) }}
                </div>

                <div class="form-group">
                    {{ form_label(contactForm.email, 'Votre email :') }}
                    {{ form_widget(contactForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Votre email'}})}}
                    {{ form_errors(contactForm.email) }}
                </div>

                <div class="form-group">
                    {{ form_label(contactForm.message, 'Votre message :') }}
                    {{ form_widget(contactForm.message, {'attr': {'class': 'form-control', 'placeholder': 'Votre message', 'cols': '30', 'rows':'10'}})}}
                    {{ form_errors(contactForm.message) }}
                </div>
                <div class="text-center">
                    <button class="btn btn-delete" type="submit">Envoyer</button>
                </div>
                {{ include(':Basics_Components:flashMessages.html.twig') }}
            </div>
            {{ form_rest(contactForm) }}
            {{ form_end(contactForm) }}
        </div>
    </div>
{% endblock %}
